@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.background_image {
  background-image: url("background.avif");
  background-size: cover;
  height: 420px;
  margin-bottom: 3rem;
}

.for_text {
  margin: 33px auto;
}

.for_text img {
  height: 60px;
}

.for_text h1 {
  margin-top: 2rem;
  text-align: center;
}

.for_search {
  background-color: white;
  height: 50px;
  width: 60%;
  border-radius: 10px;
  margin-top: 2rem;
}
.for_search input {
  outline: none;
}

.for_search i {
  font-size: 20px;
  margin: 0 5px;
}
.for_search .drop {
  border-right: 2px solid gray;
  padding-right: 10px;
}

.order_online .card {
  border-radius: 15px;
  transition: 0.5s;
  margin-bottom: 3rem;
}
.order_online .card .card-img-top {
  border-radius: 15px 15px 0 0;
  height: 11rem;
}

.order_online .card:hover {
  transform: scale(1.07);
  cursor: pointer;
}
.collection_text {
  font-size: 17.5px;
}
.collection_image {
  position: relative;
  cursor: pointer;
  margin-bottom: 6rem;
}

.collection_photo {
  border-radius: 7px;
  width: 100%;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0.05) 50%,
    rgba(0, 0, 0, 0.05) 85%
  );
}

.collection_photo_txt {
  position: absolute;
  bottom: 0;
  left: 30px;
  font-weight: bold;
}

.popular_main {
  margin-bottom: 7rem;
}
.popular,
.explore {
  border-radius: 8px;
  cursor: pointer;
}
.places {
  height: 80px;
  padding-top: 30px;
}

.popular:hover {
  box-shadow: 1px 1px 5px 1px rgb(212, 211, 211);
}

.get {
  background-color: rgb(255, 251, 247);
  padding: 80px 0;
}

.get_img {
  height: 18rem;
  margin: 20px 20px 0 0;
}

.radio_email {
  margin-right: 2.4rem;
  margin-bottom: 15px;
}

.input_email {
  padding: 10px;
  border-radius: 7px;
  outline: none;
  border: 1px solid rgb(190, 190, 190);
  width: 55%;
}

.get button {
  border-radius: 7px;
  padding: 10px;
  border: none;
}

.get .g_play {
  width: 25%;
  margin-right: 10px;
}

.explore_main {
  margin: 70px auto;
}

.bg_footer {
  background-color: rgb(248, 248, 248);
}

.zomato_logo {
  height: 30px;
}

.india_logo {
  height: 20px;
  width: 20px;
}

.language,
.india {
  border: 1px solid rgb(185, 185, 185);
  border-radius: 7px;
  padding: 5px;
  padding-bottom: 30px;
}

.india {
  margin-right: 20px;
}

.footer_content ul li {
  list-style: none;
  padding-top: 7px;
  color: gray;
  font-size: 13px;
  letter-spacing: 1px;
}

.footer_content .fifth {
  list-style: none;
  padding-top: 7px;
  letter-spacing: 1px;

  font-size: 13px;
}

.footer_content ul {
  padding-left: 0 !important;
  margin-right: 100px;
}

.social_icon {
  font-size: 23px;
}
.social_icon i {
  padding-right: 5px;
}
.app_store {
  height: 40px;
}

.bg_footer p {
  color: gray;
  font-size: 12.5px;
}

#img4{
    height: 230px;
}

#img3{

    height: 230px;
}